@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to our homepage</h1>
    <p>Travel with ease</a>.</p>
    <p>You can book our trips only by calling us on this phone 089345087</a>.</p>
</div>
